.fondo 
{
    background-image: url('../diseño/INICIO.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 50px; 
}

#botones{
    position: absolute;
    top:70%;
    left:35%;
}

.btnLogIn 
{
    background-color: transparent;
    background-image: url('../diseño/btnLogIn.png'); /* Ruta de tu imagen de fondo para los botones */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block; /* Añadido para ajustar el tamaño del botón al contenido */
    margin: 10px; /* Añadido para ajustar el espacio entre botones */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 18px; /* Tamaño del texto */
     
}
.btnRegistro 
{
    background-color: transparent;
    background-image: url('../diseño/btnRegistro.png'); /* Ruta de tu imagen de fondo para el botón de registro */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
}