.fondo8
    {
        background-image: url('../diseño/FondoInicioSesion.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        padding-top: 50px; }
      
        #usuario {
            background-image: url('../diseño/espacio.png');

            margin-left: 20px; /* Puedes ajustar el valor según tus necesidades */
            border: 2px solid #ccc; /* Añade un borde al campo de entrada */
            border-radius: 10px; /* Añade esquinas redondeadas (ajusta el valor según sea necesario) */
            padding: 5px; 
            padding-top:20px;
            width:400px;
            font-size: 25px;
            margin-top: 170px;

          }
          
        #contrasena
        {
            background-image: url('../diseño/espacio.png');

            margin-left: 20px; /* Puedes ajustar el valor según tus necesidades */
            border: 2px solid #ccc; /* Añade un borde al campo de entrada */
            border-radius: 10px; /* Añade esquinas redondeadas (ajusta el valor según sea necesario) */
            padding: 5px; 
            padding-top:20px;
            width:400px;
            font-size: 25px;
            
            margin-top: 80px;
        }
        
        #LogIn {
            background-image: url('../diseño/LogIn.png'); 
            background-size: 100% 100%; 
            background-repeat: no-repeat; 
            width: 250px; 
            height: 75px; 
            text-indent: -9999px; 
            border: none; 
            cursor: pointer;
            margin-left: 20px; 
            margin-top: 50px;
            background-color: rgba(255, 255, 255, 0); /* Fondo transparente (0 de opacidad) */

          }

          #mensaje
          {
            margin-left: 20px; 
            font-size: 20px;
            

          }
          /* styles.css */
p {

    margin-left: 20px; 

}

.karantina-font {
    font-family: 'Karantina', sans-serif;
  }
  