.btnCasa
{
    position: absolute;
    top: 70px;
    right: 50px;
}
#resetButton {
    background-image: url('../diseño/reiniciar.png');
             background-size: 100% 100%; 
            background-repeat: no-repeat; 
            width: 250px; 
            height: 75px; 
            text-indent: -9999px; 
            border: none; 
            cursor: pointer;
            margin-left: 400px; 
            margin-top: -550px;
            background-color: rgba(255, 255, 255, 0);
}
#Guardar {
    background-image: url('../diseño/guardar.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    width: 250px; 
    height: 75px; 
    text-indent: -9999px; 
    border: none; 
    cursor: pointer;
    margin-left: 700px; 
    margin-top: -75px;
    background-color: rgba(255, 255, 255, 0);
}