.fondo2 
{
    background-image: url('../diseño/FondoReconocer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 50px; 
}
.btnCasa
{
    position: absolute;
    top: 2%;
    left: 92%;
    width:100px;
    }

    .contador {
      position: absolute;
      top: 250px;
      left: 275px; /* Ajustamos la distancia desde la izquierda */
      display: flex;
      flex-direction: column; /* Cambiamos la dirección a columna */
      align-items: flex-start; /* Alineamos a la izquierda */
      font-family: 'Karantina', sans-serif;
  }
  
  #contador-acertados {
      margin-bottom: 10px; /* Espacio entre "Acertados" y "Fallidos" */
  }
  
  #contador-fallidos {
      margin-bottom: 10px;
  }
  
  .btnReset {
      position: absolute;
      top: 100px;
      left: -5px;
  }
  
  
.game-container {
    margin-top: 75px; 
  }
  
.play-pause {
    margin-top: 250px;
  }

  .karantina-font {
    font-family: 'Karantina', sans-serif;
  }
  